<thead>
    <tr>
        <th width="32mm" style="border-right: 1px solid #ffffff; background-color: #ededed;">
            <f:translate
                    key="LLL:EXT:cart/Resources/Private/Language/locallang.xlf:tx_cart_domain_model_order_product.count"/>
        </th>
        <th width="135mm" style="border-right: 1px solid #ffffff; border-left: 1px solid #ffffff; background-color: #ededed;">
            <f:translate
                    key="LLL:EXT:cart/Resources/Private/Language/locallang.xlf:tx_cart_domain_model_order_product."/>
        </th>
    </tr>
</thead>