<br>
<table>
    <tr>
        <td>
            <table>
                <tr>
                    <td width="10mm">T:</td>
                    <td width="40mm">+49 (0) 000 00 00 0000</td>
                </tr>
                <tr>
                    <td>M:</td>
                    <td>+49 (0) 000 00 000 00</td>
                </tr>
                <tr>
                    <td>F:</td>
                    <td>+49 (0) 000 00 00 0000</td>
                </tr>
                <tr>
                    <td>E:</td>
                    <td>email@example.com</td>
                </tr>
                <tr>
                    <td>W:</td>
                    <td>www.example.com</td>
                </tr>
            </table>
        </td>
        <td>
            <table>
                <tr>
                    <td width="10mm">Konto:</td>
                    <td width="40mm"></td>
                </tr>
                <tr>
                    <td>IBAN:</td>
                    <td>XXX XXXX 000 XXXX XXXX</td>
                </tr>
                <tr>
                    <td>BIC:</td>
                    <td>XXXXDEXXXXX</td>
                </tr>
            </table>
        </td>
        <td>
            <table>
                <tr>
                    <td width="25mm">USt-IdNr.:</td>
                    <td width="25mm">DE000000000</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Geschäftsführer:</td>
                    <td>Max Mustermann</td>
                </tr>
                <tr>
                    <td>Registergericht:</td>
                    <td>Amtsgericht Musterstadt</td>
                </tr>
                <tr>
                    <td>HRB:</td>
                    <td>000000</td>
                </tr>
            </table>
        </td>
    </tr>
</table>
