services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: false

  Extcode\CartPdf\EventListener\Order\Finish\DocumentRenderer:
    tags:
      - name: event.listener
        identifier: 'cart-pdf--order--finish--document-renderer'
        event: Extcode\Cart\Event\Order\FinishEvent
        before: 'cart--order--finish--email'

  Extcode\CartPdf\Service\PdfService:
    public: true

