services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: false

  Extcode\CartPdf\:
    resource: "../Classes/*"
    exclude: "../Classes/Domain/Model/*"

  # PdfService muss public sein
  Extcode\CartPdf\Service\PdfService:
    public: true
    arguments:
      $configurationManager: '@TYPO3\CMS\Extbase\Configuration\ConfigurationManager'
      $orderItemRepository: '@Extcode\Cart\Domain\Repository\Order\ItemRepository'
      $persistenceManager: '@TYPO3\CMS\Extbase\Persistence\Generic\PersistenceManager'
      $resourceFactory: '@TYPO3\CMS\Core\Resource\ResourceFactory'
      $storageRepository: '@TYPO3\CMS\Core\Resource\StorageRepository'

  # WICHTIG: ProcessOrderCreate Event-Listener f端r automatische PDF-Generierung und Nummernvergabe
  Extcode\CartPdf\EventListener\ProcessOrderCreate\DocumentRenderer:
    arguments:
      $orderItemRepository: '@Extcode\Cart\Domain\Repository\Order\ItemRepository'
      $persistenceManager: '@TYPO3\CMS\Extbase\Persistence\Generic\PersistenceManager'
    tags:
      - name: event.listener
        identifier: "cart-pdf--process-order-create--document-renderer"
        event: Extcode\Cart\Event\ProcessOrderCreateEvent
        after: "cart--process-order-create--order-number"
        # after: "rcdesign9--order--create--delivery-number"
        before: "cart--process-order-create--email"

  # Bedingte Event-Listener mit eindeutigen Service-Namen

  # F端r PayPal Neu
  cart_pdf.event_listener.paypal.document_renderer:
    class: Extcode\CartPdf\EventListener\Order\Finish\DocumentRenderer
    arguments:
      $orderItemRepository: '@Extcode\Cart\Domain\Repository\Order\ItemRepository'
      $persistenceManager: '@TYPO3\CMS\Extbase\Persistence\Generic\PersistenceManager'
    tags:
      - name: event.listener
        identifier: "cart-pdf--order--notify--document-renderer-paypal"
        event: Extcode\CartPaypal\Event\Order\NotifyEvent
        before: "cart-paypal--order--notify--email"

  # F端r Payone (Fallback)
  cart_pdf.event_listener.payone.document_renderer:
    class: Extcode\CartPdf\EventListener\Order\Finish\DocumentRenderer
    tags:
      - name: event.listener
        identifier: "cart-pdf--order--finish--document-renderer-payone"
        event: Extcode\CartPayone\Event\Order\FinishEvent
        before: "cart--order--finish--email"

  # F端r Standard Cart (Fallback)
  cart_pdf.event_listener.standard.document_renderer:
    class: Extcode\CartPdf\EventListener\Order\Finish\DocumentRenderer
    tags:
      - name: event.listener
        identifier: "cart--order--finish--document-renderer"
        event: Extcode\Cart\Event\Order\FinishEvent
        before: "cart--order--finish--email"
